@import '../../styles/mixins.scss';

.container {
	@apply flex flex-row gap-8;

	@include md(lg, 'max') {
		@apply flex-col;
	}

	.filters {
		@apply flex flex-col gap-4;

		flex-basis: 300px;

		@include md(lg, 'max') {
			flex-basis: 0;
		}
	}

	.notes {
		@apply grid grid-cols-3 gap-4 w-full;

		@include md(xl, 'max') {
			@apply grid grid-cols-2 gap-4;
		}

		@include md(lg, 'max') {
			@apply grid grid-cols-2 gap-4;
		}

		@include md(md, 'max') {
			@apply grid grid-cols-1 gap-4;
		}

		.note {
		}
	}
}

.notesEmpty {
	@apply w-full flex flex-col items-center justify-center text-4xl;

	height: calc(100dvh - 150px);

	@include md(lg, 'max') {
		@apply text-3xl;
	}

	@include md(md, 'max') {
		@apply text-2xl;
	}
}

.notFound {
}
