@import '../../styles/mixins.scss';

.noteCard {
	@apply bg-backgroundLight p-4 flex flex-col gap-3 rounded-xl h-full max-w-[800px];

	&.miniCard {
		@apply min-w-[400px];

		@include md(sm, 'max') {
			@apply min-w-[350px];
		}

		@include md(xs, 'max') {
			@apply w-auto min-w-0;
		}
	}

	.title {
		> * {
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}

	.description {
		@apply text-lg;

		flex: 1 0 auto;

		> * {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}

	.date {
		@apply text-lg;
	}

	.priority {
		> p {
			@apply mb-1;
		}

		span {
			@apply text-sm border-2 py-0 px-2 rounded-md;

			&:global(.priority0) {
				@apply border-primary;
			}

			&:global(.priority1) {
				@apply border-yellow-700;
			}

			&:global(.priority2) {
				@apply border-error;
			}
		}
	}

	.actions {
		@apply flex flex-row justify-between gap-4;

		.editBtn {
			@apply btn-dark-blue py-1 text-center;
		}

		.deleteBtn {
			@apply btn-error py-1 text-center;
		}
	}
}
