@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800&display=swap');

:root {
	--container-max-width: 1440px;
	--dark-blue: #006b6a;
	--light-blue: #59bab8;
	--background: #192024;
	--light-gray: #666666;
	--hover: #f74343;
	--hover-error: #dc0909;
	--toastify-color-dark: #2b2f31;
	--min-header-height: 100px;
	--max-header-height: 200px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	background-color: var(--background);
	color: #fff;
	font-size: 1rem;
	font-family: 'Nunito', sans-serif;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #666666 transparent;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	width: 8px;
	width: 8px;
}
*::-webkit-scrollbar-track {
	border-radius: 16px;
	background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
	background-color: transparent;
}

*::-webkit-scrollbar-track:active {
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	border-radius: 16px;
	background-color: #666666;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #999999;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #999999;
}
